.upvote-btn{
    padding: 0px;

}
.upvotes{
    display: inline;
    margin: 5px;
}
.delete-btn{
    padding:  5px 8px;
    justify-self: end;
    align-self: end;
}
.gif{
    width: 200px;
    height: 200px;
}
.description{
    color: darkgrey;
}
