.new-board-form{
    color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f4f4f4;
    border: 1px solid #888;
    padding: 20px;
    z-index: 1000;
    box-shadow:  0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: scroll;
    overflow-y: auto;
}
.close-btn{
    justify-self: end;
}
label{
    display: block;
    font-size: large;
    text-align: start;
}
input{
    display: block;
    justify-self: center;
    width: 690px;
    height: 40px;
    font-size: larger;
}
select{
    width: 595px;
    margin: 10px 20px;
    height: 40px;
}
